.container {
    display: flex;
    position: relative;
    margin: 0px;
    padding: 0px;
}

#renderer {
    position: absolute;
    width: 100%;
    height: 100%;
}

#gui {
    position: absolute;
    margin-top: 50px;
    margin-left: 50px;
    color: white;
    width: min(30%, 210px);
}

.gui-box {
    font-family: 'Roboto', 'Sans Serif';
    margin: 3px;
    padding: 6px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.3);
    border: none;
}

.box {
    font-family: 'Roboto', 'Sans Serif';
    font-size: 1em;
    color: white;
    border-radius: 5px;
    padding: 3px;
    outline: none;
    background-color: rgba(0,0,0,0.3);
    border: none;
    margin-top: 0px;
    width: 100%;
    transition: 0.4;
}

.box:hover {
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
}

.box:enabled {
    background-color: rgba(0,0,0,0.3);
    border: none;
}

.btn {
    margin-top: 5px;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

input[type="text"] {
    width: 85%;
}

input[type="range"] {
    width: 100%;
}

#texupload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
}

#buttons {
    position: absolute;
    bottom: 20px;
    width: 80px;
    left: 50%;
    margin-left: -40px;
}

#button-undo, #button-restart, #button-update {
    opacity: 0.8;
}

#button-undo:hover, #button-restart:hover, #button-update:hover {
    opacity: 1;
}

code {
    color: #49E6FF;
    font-weight: bold;
}

/*rule-legend popup*/
.popup {
    display: inline-block;
    cursor: pointer;
}

.popup .popuptext {
    position: absolute;
    visibility: hidden;
    width: 200px;
    left: min(100%, 210px);
    margin-left: 50px;
    padding: 6px;
    background-color: rgba(0,0,0,0.4);
    color: #fff;
    text-align: left;
    border-radius: 6px;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}
  
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}